<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">	
	<localRepository>tycho-maven-repo</localRepository>
	<mirrors>
	</mirrors>
	<profiles>
		<profile>
			<id>default</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<name>central maven repo</name>
					<url>http://repo1.maven.org/maven2</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

		<profile>
			<id>dev</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>apache</id>
					<name>Apache maven2 repo</name>
					<url>https://repository.apache.org/content/groups/public</url>
				</repository>
				<repository>
					<id>sonatype-forge</id>
					<name>Sonatype forge repo</name>
					<url>http://repository.sonatype.org/content/groups/forge</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>apache</id>
					<name>apache maven repo</name>
					<url>https://repository.apache.org/content/groups/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>

	</profiles>

	<activeProfiles>
		<activeProfile>dev</activeProfile>
	</activeProfiles>

</settings>
